:root {
  --accent: #0d6efd;
  --font: 'Inter', sans-serif;
}
body        { font-family: var(--font); scroll-behavior: smooth; }
.hero       { height: 100vh; background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('assets/bgimg.avif') center/cover; }
.text-accent{ color: var(--accent) !important; }
.btn-accent { background: var(--accent); border-color: var(--accent); color: #fff; }
.btn-accent:hover { background: #0b5ed7; border-color: #0a58ca; }


.navbar       { transition: background .5s; }
.navbar-scrolled { background: #000 !important; }


.card img { aspect-ratio: 1/1; object-fit: cover; }